# dependencies
node_modules/

# environment variables
.env
.env.local

# build folders
dist/
build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# temporary uploads
uploads/temp/